@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.MediaNavAccor{
  @apply border-b-0 border-t-[1px] border-base-300 text-sm text-base-content hover:text-base-content;
}